<a href="https://colab.research.google.com/github/Seb48/curso_python/blob/main/Sebastian_Gutierrez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 8
nombre = "JUAN"
x = nombre
y = x

print("valor de y es:", y)

valor de y es: JUAN

In [ ]:
variable_verdad: True
variable_falso: False

type(x)

str

In [ ]:
cadena = "esto es una cadena de texto"
type(cadena)

str

In [ ]:
cadena = "8"
type(cadena)

str

In [1]:
cadena = "8"
cadena = cadena + "1"
print(cadena)

81

# Sesion 02

In [2]:
Datos_Estudiante = ["Sebastian", 19, True, "Apurimac"]
print(Datos_Estudiante)

['Sebastian', 19, True, 'Apurimac']

In [3]:
nombre = Datos_Estudiante[0]
nombre

'Sebastian'

In [4]:
departamento = Datos_Estudiante[3]
departamento

'Apurimac'

In [6]:
Datos_personales = Datos_Estudiante[:2]
Datos_personales

['Sebastian', 19]

In [7]:
Datos_Estudiante[-1]

'Apurimac'

In [9]:
Datos_Estudiante[0] = "Sebastian Gutierrez Merino"
Datos_Estudiante

['Sebastian Gutierrez Merino', 19, True, 'Apurimac']

Tuplas

In [12]:
Datos_estudiante_tupla = "Sebastian Gutierrez", 19, True, "Apurimac"
type(Datos_estudiante_tupla)

Datos_tupla = Datos_estudiante_tupla[1:3]
Datos_tupla

(19, True)

# Diccionario

In [14]:
Datos_diccionario = {
    "Nombre": "Sebastian Gutierrez Merino",
    "Edad": 19,
    "es_estudiante": True,
    "Departamento": "Apurimac"
}

Datos_diccionario

{'Departamento': 'Apurimac',
 'Edad': 19,
 'Nombre': 'Sebastian Gutierrez Merino',
 'es_estudiante': True}

# Data Frame

In [15]:
import pandas as pd
nombres=["Manuel", "Karen", "Karolayne", "Omar"]
edad=[23,29,23,26]
pais=["Ecuador", "Perú", "Brasil", "Argentina"]
educacion=["Bachiller", "Licenciado", "Bachiller", "PhD"]

pais

['Ecuador', 'Perú', 'Brasil', 'Argentina']

In [21]:
data={
    'nombres':nombres, 
    'edad':edad,
    'pais':pais, 
    'educacion':educacion

    }
data

{'edad': [23, 29, 23, 26],
 'educacion': ['Bachiller', 'Licenciado', 'Bachiller', 'PhD'],
 'nombres': ['Manuel', 'Karen', 'Karolayne', 'Omar'],
 'pais': ['Ecuador', 'Perú', 'Brasil', 'Argentina']}

In [23]:
df_estudiantes = pd.DataFrame(data)
print(df_estudiantes)
df_estudiantes[df_estudiantes["pais"]=="Perú"]

     nombres  edad       pais   educacion
0     Manuel    23    Ecuador   Bachiller
1      Karen    29       Perú  Licenciado
2  Karolayne    23     Brasil   Bachiller
3       Omar    26  Argentina         PhD

  nombres  edad  pais   educacion
1   Karen    29  Perú  Licenciado